
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
    
*@
<html>

<head>
    <style>
        #cardSearch {
            background-color:darkcyan;
            border-width: 1px ;
            border-radius: 10px 10px;
            margin: auto;
            padding: 10px;

            display: flex;
            flex-direction: column;
        }


        /*div.form-group {
            display:inline-flex;
            flex-flow:row;
        }*/

        .lblinput{
            display: block;
            margin-right: 20px;
        }

        #txtCardName {
            min-width: 400px;
        }
        #txtPower, #txtToughness {
            max-width: 50px;
        }

    </style>
</head>

<body>
<section id="cardSearch">
    
    <form>
        <div class="form-group col-sm-9">
            <label for="txtCardName">Card Name</label>
            <input type="text" id="txtCardName" name="CardName"/>
        </div>
        
        <div class="form-group col-sm-3 col-xs-6">
            <label for="selRarity">Rarity</label>
            <select id="selRarity" class="form-control">
                <option>Common</option>
                <option>Uncommon</option>
                <option>Rare</option>
            </select>
        </div>
        
        
            <div class="form-group">
                <label for="selEdition">Edition</label>
                <select id="selEdition" class="form-control">
                    <option>M10</option>
                    <option>M11</option>
                    <option>M12</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cbJokes">
                    <input type="checkbox" id="cbJokes" />
                    Include Joke Sets?
                </label>
            </div>
            <div class="form-group">
                <label for="txtPower">Power</label>
                <input type="text" id="txtPower" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="txtToughness">Tougness</label>
                <input type="text" id="txtToughness" class="form-control"/>
            </div>

            <div class="form-group">
                <label for="txtConManaCost">Converted Mana Cost</label>
                <input id="txtConManaCost" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="cbWhite">
                    <input type="checkbox" id="cbWhite" />
                    White
                </label>
            </div>
            <div class="form-group">
                <label for="cbBlack">
                    <input type="checkbox" id="cbBlack" />
                    Black
                </label>
            </div>
            <div class="form-group">
                <label for="cbRed">
                    <input type="checkbox" id="cbRed" />
                    Red
                </label>
            </div>
            <div class="form-group">
                <label for="cbGreen">
                    <input type="checkbox" id="cbGreen" />
                    Green
                </label>
            </div>
            <div class="form-group">
                <label for="cbBlue">
                    <input type="checkbox" id="cbBlue" />
                    Blue
                </label>
            </div>
            <div class="form-group">
                <label for="cbExclusive">
                    <input type="checkbox" id="cbExclusive" />
                    Only Selcted Colors
                </label>
            </div>


            <div class="form-group">
                <label for="selCardType">Select Card Types</label>
                <select class="form-control custom-select" id="selCardType" multiple size="3">
                    <option>Creature</option>
                    <option>Artifact</option>
                    <option>Enchantment</option>
                    <option>Sorcery</option>
                    <option>Instant</option>
                </select>
            </div>
            <div class="form-group">
                <label for="selAbilities">Select Card Abilities</label>
                <select class="form-control custom-select" id="selAbilities" multiple size="3">
                    <option>Creature</option>
                    <option>Artifact</option>
                    <option>Enchantment</option>
                    <option>Sorcery</option>
                    <option>Instant</option>
                </select>
            </div>


        <input class="btn btn-primary form-control" type="submit" id="btnSearchSubmit" value="Search"/>

    </form>
    

</section>
</body>

</html>
